**/node_modules
**/.next
**/dist
**/coverage
**/.turbo
**/*.tsbuildinfo

.git
.github
.vscode
.idea
.DS_Store

.env
.env.*
!.env.example
**/*.pem
**/*.key

**/*.log
.pnpm-store
.tmp
tmp

Dockerfile*
compose*.yml
compose*.yaml
README.md
